<div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-5 ">
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>id</th>
        <th>タイトル</th>
        <th>タスク</th>
      </tr>
    </thead>
    <tbody>
      <% tasks.each do |task| %>
      <% user = task.user %>
        <tr>
          <td>
            <%= link_to task.id, task %>
          </td>
          <td>
            <%= task.status %>
          </td>
          <td>
            <%= task.content %>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>
  
<%= paginate tasks %>

</div>